{% extends 'base.html.twig' %}

{% block title %}Hello Create Media Controller!{% endblock %}

{% block body %}
<h1>Create media</h1>
{{ form_start(form) }}
    {{ form_row(form.filePath) }}
    {{ form_row(form.description) }}
    {{ form_row(form.categories) }}
    {# {{ form_row(form.user) }} #}
    <button type="submit"> valider le formulaire</button>
{{ form_end(form) }}
{% endblock %}
